*{
    margin:0;
    padding:0;
}
body{
    background-color: #E0D0C1;

}

h1{
    text-align: center;
    color: #601700;
    font-size: 70px;
}
.hide{
    display: none;
}
.msg{
    text-align: center;
    font-size: 30px;
}
.newbtn{
    display: inline;
    text-align: center;
    font-size: 30px;
}
.dabba{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.btn{
    height: 18vmin;
    width: 18vmin;
    font-size: 50px;
    background-color: #A76D60;
    border-radius: 10px;
    color: #ECE5DD;
}
.resetbtn{
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
    background-color:antiquewhite;
}
.Reset{
    display: flex;
    justify-content: center;
    text-align: center;
}